<a href="https://colab.research.google.com/github/hussein227/sawaf/blob/master/Task_Datamanapulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/train (5).csv")
df.head()

  state  account_length  ... number_customer_service_calls churn
0    OH             107  ...                             1    no
1    NJ             137  ...                             0    no
2    OH              84  ...                             2    no
3    OK              75  ...                             3    no
4    MA             121  ...                             3    no

[5 rows x 20 columns]

# New Section
Churn Analysis Significance

Churn Aalysis is the rate of how many customers a company lose in a specific 

1.   List item
2.   List item

time period

In [ ]:
itis important AS:1- Access all the relevant data seamlessly and quickly
2-Segment the customers based on behavior and demographics to improve retention
3-Deliver tailored promotions and offers to positively influence their behavior
4-Minimize acquisition costs and increase marketing efficiency
5-Keep customers engaged and loyal
6- finally(Understanding customer churn is vital to the success of a company and a churn analysis is the first step to understanding the customer).
https://miro.medium.com/max/1250/1*tPJHeZxx8jjro_Y0VdUQOA.png (for statics studies ).

SyntaxError: ignored

# New Section
Dataset Structure

In [ ]:
df.shape

(4250, 20)

In [ ]:
print(df.columns)

Index(['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn'],
      dtype='object')

All the column names make sense.

The name of the sixth,tenth,eleventh,twelfeth,sixteenth,seventeenth and the eighteenth columns are not self_explanatory.

In [ ]:
df.rename(columns={'number_vmail_messages':'number_voice_mail_messages','total_eve_minutes':'total_evening_minutes','total_eve_calls':'total_evening_calls','total_eve_charge':'total_evening_charge','total_intl_minutes':'total_international_minutes','total_intl_calls':'total_inrenational_calls','total_intl_charge':'total_international_charge'},inplace=True)

In [ ]:
print(df.columns)

Index(['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_voice_mail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_evening_minutes',
       'total_evening_calls', 'total_evening_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge',
       'total_international_minutes', 'total_inrenational_calls',
       'total_international_charge', 'number_customer_service_calls', 'churn'],
      dtype='object')

In [ ]:
reviews=pd.read_csv("/content/train (5).csv")# To make reviews dataframe

Feature |Feature description |Feature format

state| The US state of customer residence represented in 
      2-letter code| string

account_length| The number of months the customer has been in the company| numerical

area_code| The code of the area where the customer comes from| string

international_plan| If the customer has an international plan or not| True(1) False(0)

voice_mail_plain|If the customer has voice mail plan or not| True(1) False(0)

number_voice_mail_messages| number of voice mail messages the customer has made| numerical 

total_day_minutes|Total minutes of day calls|numerical

total_day_calls|Total  number of day calls |numerical

total_day_charge|Total charge of day calls|numerical

total_evening_minutes|Total minutes of evening calls|numerical

total_evening_calls|Total number of evening calls |numerical

total_evening_charge|Total charge of evening calls|numerical

total_night_minutes|Total minutes of night calls.|numerical

total_night_calls|Total number of night calls|numerical

total_nigt_charge| Total charge of night calls|numerical

total_international_minutes|Total minutes of international calls|numerical

total_international_calls| Total number of international calls|numerical

total_international_charge|Total charge of international calls|numerical

number_customer_service_calls| Number of calls to customer service|numerical

churn| Customer churn - target variable| True(1) False(0)



```
# This is formatted as code
```

state:
account_length
area_code
international_plan
voice_mail_plan
number_voice_mail_messages
total_day_minutes
total_day_calls
total_day_charge', 'total_evening_minutes',
       'total_evening_calls', 'total_evening_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge',
       'total_international_minutes', 'total_inrenational_calls',
       'total_international_charge', 'number_customer_service_calls', 'churn'

state[String]
account_lengtharea_code[int]
international_plan[Boolean]
voice_mail_plan[Boolean]
number_voice_mail_messages[int]
total_day_minutes[numerical]
total_day_calls[int]
total_day_charge[int]
total_evening_minutes[int]
total_evening_calls[int]
total_evening_charge[int]
total_night_minutes[int]
total_night_calls[int]
total_night_charge[int]
total_international_minutes[int]
total_inrenational_calls[int ]
total_international_charge[int]
number_customer_service_calls[int]
churn[it is boolean ] BUT(it should be int)

Missing Values 
Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.
The teqnics :
1-Delete the record missing values
2-create a seperate model to handle it
3-statics mathods like(mean,median)

In [ ]:
df.tail()   #which telling us the NaN(Not A Number ) values for us
reviews[pd.isnull(reviews.state)]  # which display automatical to  us all the missing values

Empty DataFrame
Columns: [state, account_length, area_code, international_plan, voice_mail_plan, number_vmail_messages, total_day_minutes, total_day_calls, total_day_charge, total_eve_minutes, total_eve_calls, total_eve_charge, total_night_minutes, total_night_calls, total_night_charge, total_intl_minutes, total_intl_calls, total_intl_charge, number_customer_service_calls, churn]
Index: []

df.dropna(subset['area_code','account_length'],how='any')this will drop the colums which has missing values AS 
we can use also [df.isna] :To indicate missing values
we can use also [df.notna]:To indicate existing values

possible values  is the values which in Integer Class -2147483648<possiblevalues<2147483647

# New Section
Studying Groups

In [ ]:
total_minutes=df.total_day_minutes+ df.total_evening_minutes
average_minutes_spent_by_all_customers= total_minutes.mean()
print(average_minutes_spent_by_all_customers)

380.4335058823529

In [ ]:
df_CA = df[df['state']== "CA"]
df_CA.number_customer_service_calls.max()

5

In [ ]:
df_NC= df[df['state']=="NC"]
df_NC.total_day_minutes.min()

7.2

In [ ]:
df_international=df[df['international_plan']=='yes']
percent_customers_have_international_plan=(df_international['international_plan'].count()/df['international_plan'].count())*100
print(percent_customers_have_international_plan)

9.317647058823528

In [ ]:
df_6=df[(df['voice_mail_plan']=="yes")& (df['total_night_calls']>3)]
percent_6=(df_international['total_night_calls'].count()/df['total_night_calls'].count())*100
print(percent_6)

9.317647058823528

In [ ]:
df_FL=df[(df['state']=="FL")& (df['international_plan']=="no")]
df_FL.total_day_charge.mean()

29.937971014492756

In [ ]:
df_churn=df[(df['churn']=="yes")&((df['state']=="OH")|(df['state']=="NY"))]
percent_churn=(df_churn['churn'].count()/df['churn'].count())*100
print(percent_churn)

0.6588235294117647

In [ ]:
#making Series
pd.Series([9.317647058823528,29.937971014492756,0.6588235294117647],index=['percent_6','total_day_charge','percent_churn'])

percent_6            9.317647
total_day_charge    29.937971
percent_churn        0.658824
dtype: float64

In [ ]:
df.loc[:,['state','area_code','churn']]

     state      area_code churn
0       OH  area_code_415    no
1       NJ  area_code_415    no
2       OH  area_code_408    no
3       OK  area_code_415    no
4       MA  area_code_510    no
...    ...            ...   ...
4245    MT  area_code_415    no
4246    WV  area_code_408    no
4247    NC  area_code_408    no
4248    HI  area_code_408    no
4249    VT  area_code_415    no

[4250 rows x 3 columns]

In [ ]:
df.loc[[68,99,102],['voice_mail_plan','international_plan']]

    voice_mail_plan international_plan
68               no                yes
99               no                 no
102              no                 no

In [ ]:
df.genre.nunique().head()#the number of unique values

In [ ]:
first 500 row=pd.read_table('/content/train (5).csv')
first 500 row.head(500)

In [ ]:
#first 500 row=df.loc[0:500,0] or we can do this

In [ ]:
df.genre.value_counts()# acount of each value and how often it appears
df.genre.value_counts(normalize=True)#percentage of each value

from my standing there is  one way to prepare data for some machine learning models is by centering - that is, making the mean of the dataset in some column 0. We do this by first calculating the mean of this column, and then subtracting it from each Data point.